RewriteEngine On
# Don't specify RewriteBase to make it more flexible
# RewriteBase /PHP-MVC/public/
# RewriteBase /

# DISABLE DIRECTORY INDEXES
Options -Indexes

# Don't rewrite if the file or directory exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Send everything to index.php with the complete path
RewriteRule ^(.*)$ index.php [QSA,L]